#res {
  margin-top:12px;
  line-height: 150%;
  font-size: 10pt;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

#info {
  clear:both;
  margin-top: 12px;
  line-height: 150%;
  font-size: 10pt;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

.qtip-content {
  font-size: 10pt;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

.instance_ip { /* in progress, light gray */
  float:left;
  margin-right: 4px;
  color: gray;
}

.instance { /* normal text */
  float:left;
  margin-right: 4px;
  color: black;
}

.instance_cg { /* correct guess */
  text-decoration: underline;                    
  float:left;
  margin-right: 4px;
  color: green;
}

.instance_cd { /* correct distribution */                           
  float:left;
  margin-right: 4px;
  color: blue;
}

#input {
}

body {
  padding-left: 8px;
  padding-right: 8px;
}