src/*.o
src/*.lo
src/*.la
src/.deps
src/.libs
src/wopr
Makefile
Makefile.in
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
INSTALL
aclocal.m4
autom4te.cache/
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
wopr.pc
m4/libtool.m
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/pkg.m4
m4/ax*
doc/*.aux
doc/*.log
doc/*.toc
doc/*.pdf
